[user]
	name = lwang
	email = lwang@agioe.com
[core]
	editor = vi
	excludesfile = /home/lwang/.gitignore_global
[alias]
	a = add
	b = branch
	co = checkout
	ci = commit
	s = status
	d = diff
	lg = log --oneline --stat
	p = pull
	t = tag
[color]
	diff = auto
	status = auto
	ui = auto
